.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    margin-top: 100px;

    h3 {
        font-size: 2rem;
    }
    .imageContainer {
        height: 500px;
width: 50%;
        background-image: url('../../images/working.jpeg');
        background-position: center;
        background-size: cover;
    }
    .sliderContainer {
width: 50%;
    }
    }


@media(max-width:900px){
    .container {
        margin-top: 20px;
        .imageContainer {
            width: 100%;
        }

        .sliderContainer {
            width: 100%;
        }
    }
}