.container {
    background-color: #f9f9f9;
    margin-top: -5px;
    padding-top: 200px;
    width: 100%;

}

.boxesContainer {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 100px;



}

@media(max-width:900px){
    .boxesContainer {
        width: 90%;
        flex-wrap: wrap;

    }

    .container {
        padding-top: 50px;
    }
}