.container {
    height: 100vh;
    background-color: #f9f9f9;
    margin-top: -5px;
    padding-top: 200px;
    width: 100%;

}

.boxesContainer {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;



}