$pink: #ff5a6e;

.headerContainer {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease-in-out;

}
.header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 10px;
    z-index: 3;

    
}
.whiteBcg {
    background-color: white;
    box-shadow: 0 0 10px #cccccc;
    

}

.mobileNavLinks {
    display: none;
}
.iconContainer {
    display: none;
}

.navLinks {
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        padding-left: 0;
        width: 100%;
        li {
            transition: 0.5s; 
            font-weight: bold;
            
            &.activeLink {
                color: $pink
            }

            &:hover {
                color:$pink;
                cursor: pointer;

            }
        }
    }
}

.logo {
color: $pink;
flex: 0.2;
text-align: left;
}

.loginRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.2;

ul {   

        list-style-type: none;
        display: flex;
        padding-left: 0;
        justify-content: space-around;
        width: 100%;
       text-transform: uppercase;
       font-size: 13px;

    .loginLink {
        background: transparent none repeat scroll 0 0;
        border: 1px solid #323a45;
        color: #323a45;
        padding: 10px 15px;
        cursor: pointer;
    
    }


    .registerLink {
     background: #ff5a6e none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;

    }
   
}

   
}


@media(max-width:1100px){
    .header {
        width: 90%;

    }
    .mobileNavLinks {
        width: 100%;
        z-index: -2;
        display: block;
        background-color: white;
        position: absolute;
        top:0;
        box-shadow: 0 0 10px #cccccc;
        transition: all 0.5s ease-in-out;
        
        ul {
            width: 100%;
            list-style: none;
            padding-left: 0px;
            li {
                border-top: 1px solid gray; 
                border-bottom: 1px solid gray;
                padding: 12px 10px;
                text-transform: uppercase;
            }

            li:last-of-type {
                border-bottom: none;
            }
        }
        &.showMobileNav{
            transform: translateY(65px);

        }
        &.hideMobileNav {
            transform: translateY(-300px);
            visibility: hidden;
        }
    }
}

@media(max-width:900px){
    .headerContainer {
        position: fixed;
        width: 100%;
        z-index: 999;
        

    }
    .header {
        background-color: white;
        justify-content: space-between;
        width: 100%;
        
        .navLinks{
            display: none;
        }
    }

    .logo {
        margin-right: 10px;
    }
    .iconContainer {
        display: block;
        font-size: 25px;
        color: gray;
        margin-left: 10px;
        cursor: pointer;
        
    }
    .loginRegister {
        .loginLink, .registerLink {
            margin: 0 5px;
        }
    }

}

@media(max-width:550px){
    .loginRegister {
        display: none;
    }

}