.container {
    padding: 10px;
    text-align: center;

    .textContainer {
        p {
            width: 80%;
            margin: 0 auto;
            letter-spacing: 1.5px;
            line-height: 1.5;
        }
    }
}